wifi_ssid: "Clever pop culture wifi n@me"
wifi_password: "funny pun based password t0 hopefully tell ppl 1 day!"
ap_password: "this is the fallback AP mode password"

ota_password: "this password is used by esphome for ota updates"
api_password: "this is the password we type into hass when adding device"
# Needs to be a 32-byte base64 encoded string.
# Can generate one at https://esphome.io/components/api.html
# This one is just an example generate for this CI
api_key: "avlotaux0UVC83/BDw1vXxH9xMOolqkcoXw8jgXRQ6Y="
